:host{

    .landing-content{
        --background: #FCF9EA;
    }    

    .landing-container {
        text-align: center;
        padding: 4vh 2vw;

        ion-img{
            width: 100%;
            aspect-ratio: 16 / 9;
            
        }
    }
    
    ion-fab {
        display: flex;  //centers the labels for login & register
        flex-direction: column;
        align-items: center;  
    }

    .fab-label{
        color: #403e3f;
        font-size: clamp(12px, 4vw, 1.3rem);
    
        
    }

    .landing-title {
        font-size: clamp(24px, 8vw, 3.4rem); //24px = min, 8vw = preferred, 3.4rem = max
        color: #FFA4A4;
        margin-top: 6vh;
        position: relative;
        text-align: center;
    }

    ion-fab-button{
        --background: #FFA4A4;
        --background-activated: #BADFDB;
    }

    

   
}