:host {
    .home-content{
        --background: #BADFDB;
    }
    
    .home-title {
        font-size: clamp(24px, 8vw, 60px); //adds responsiveness 24px min, 8vw preferred, 48px max
        color: #FF7F7F;
        margin-top: 6vh;
        position: relative;
        text-align: center;
    }

    .card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
        padding: 1rem;
        align-items: stretch;
        
    }

}
