<ion-content [fullscreen]="true" class="register-content">
  <div class="register-container">
    <h1 class="register-title">Welcome</h1>
    <p>Create an Account</p>

    <form>
      <div class="ion-padding">
        <!-- for email -->
        <ion-item>
          <!-- ngModel binds the input and given input value -->
          <ion-input
            [(ngModel)]="email"
            name="email"
            placeholder="Email"
            class="input"
            type="email"
          ></ion-input>
          <!-- ionic icon -->
          <ion-icon name="person-outline"></ion-icon>
        </ion-item>

        <!-- for password -->
        <ion-item>
          <ion-input
            [(ngModel)]="password"
            name="password"
            class="input"
            placeholder="Password"
          ></ion-input>
          <ion-icon name="lock-closed-outline"></ion-icon>
        </ion-item>

        <!-- registration button -->
        <ion-button (click)="onRegister()">Register</ion-button>
        <!-- when clicked it calls onRegister method -->

        <div>
          <!-- a link for login page -->
          <p>
            Already have an account? <a [routerLink]="['/login']">Login Here</a>
          </p>
        </div>
      </div>
    </form>
  </div>
</ion-content>
