:host{
    .register-content{
        --background: #FCF9EA; //-- lets you break through Ionic's shadow DOM
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        flex-direction: column;
    }

    .register-container{
        text-align: center;
    }

    .register-title {
        font-size: clamp(24px, 8vw, 48px);  //clamp for responsiveness, 24px min, 8vh preferred, 48px max
        color: #FFA4A4;
        margin-top: 6vh;
        position: relative;
        text-align: center;
    }

    a{
        font-size: 1.25rem;
        color: #FFA4A4;
    }

    p{
        margin-top: 4vh;
        font-size: 1.25rem;
        color: #403e3f;
    }

    .input{
        font-size: clamp(12px, 1.1rem, 40px);
        width: 100%;
    }

    ion-item{
        --background: #BADFDB;
        border-radius: 6vh;
        margin: 2vh auto;
        width: 80vw;
        max-width: 500px;
    }

    ion-button{
        --background: #FFA4A4;
        --background-activated: #696FC7; //button color when clicked
        --border-radius: 6vh;
        font-size: 1.25rem;
        margin: 2vh auto;
        width: 80vw;
        max-width: 500px;
        font-weight: bold;
    }
}